.popMessage {
    display: inline-block;
    z-index: 2;
    text-align: center;
    width: 200px;
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.432);
    padding: 5px;
    position: fixed;
    top: -200%;
    left: 50%;
    color: white;
    background-color: #9a5201da;
    transform: translateX(-50%);
    animation: "popMessage" 4s ease-in;
}

@keyframes popMessage {
    0% {
        top: -200%;
    }
    10% {
        top: 8%;
    }
    85% {
        top: 8%;
    }
    100% {
        top: -200%;
    }
  }